/* Desktop */
@media (min-width: 1058px) and (max-width: 1500px) {

    header .hero-fundo {
        background-image: url('assets/img/discotop.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .hero-content h1 {
        font-size: 46px;
        margin-bottom: 100px;
    }

    .hero-content h1 span {
        font-size: 45px;
    }

    .sobre {
        height: auto;
        padding: 200px 100px 120px 100px;
    }

    .sobre-meio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobre-meio>div {
        width: 100%;
    }

    .sobre-meio .esquerda {
        order: 3;
    }

    .sobre-meio .meio {
        order: 1;
    }

    .sobre-meio .direita {
        order: 2;
    }

    .sobre-meio .esquerda h3 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'vamos', sans-serif;
        text-align: center;
        color: #eee;
        font-size: 16px;
    }

    .sobre-meio .direita {
        text-align: center;
        padding: 20px;
    }

    .projetos-fundo {
        padding: 200px 100px 190px 100px;
        background: radial-gradient(circle 600px at center, #AD0485(1, 6, 98, 0.55) 20%, #161616 100%);
    }

    .projetos-titulo h2 span {
        margin-left: 20%;
    }

    .projeto-card img {
        width: 100%;
        height: 100%;
    }

    .servicos-titulo h2 {
        margin-left: 0%;
        white-space: wrap;
    }

    .servicos-titulo h2 span {
        margin-left: 0%;
        white-space: wrap;
    }

    .contato .contato-fundo h2 {
        font-size: 26px;
    }

    .redes-link ul li a {
        width: 200px;
    }

    .footer h2 {
        font-size: 110px;
    }

    .footer p.um {
        font-size: 30px;
    }
}


/* Tablet */
@media (min-width: 781px) and (max-width: 1057px) {
    header {
        height: 100vh;
    }

    header .hero-fundo {
        background-image: url('assets/img/discotop.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }

    .menu .navbar .logo h2 {
        font-size: 1.4vw;
    }


    .menu .navbar .nav ul {
        gap: 50px;
    }


    .hero-content {
        margin-bottom: 40px;
    }

    header .hero-content h1 {
        font-size: 36px;
        margin-bottom: 80px;
    }

    header .hero-content h1 span {
        font-size: 32px;
    }

    .sobre {
        padding: 200px 50px 100px 50px;
    }

    .sobre h2 {
        font-size: 24px;
    }

    .sobre-meio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobre-meio>div {
        width: 90%;
    }

    .sobre-meio .esquerda {
        order: 3;
    }

    .sobre-meio .meio {
        order: 1;
    }

    .sobre-meio .direita {
        order: 2;
    }

    .sobre-meio .direita p {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        color: #e8e6e6e8;
        padding-bottom: 20px;
    }

    .projetos h2 {
        font-size: 24px;
    }

    .projetos-titulo h2 span {
        margin-left: 10%;
    }

    .projetos-fundo {
        background: radial-gradient(circle 400px at center, #AD0485 20%, #161616 100%);
        padding: 150px 50px 210px 50px;
    }

    .projeto-card img {
        width: 100%;
        height: 100%;
    }

    section.servicos {
        padding: 0px 50px 100px 50px;
    }

    .servicos-fundo {
        height: auto;
        gap: 40px;
    }

    .servicos h2 {
        font-size: 24px;
    }

    .servicos-titulo h2 span {
        display: block;
        white-space: wrap;
        margin-left: 10%;
    }

    .servico-card {
        width: 100%;
        height: auto;
    }

    .servico-card img {
        width: 50px;
        height: 50px;
    }

    .servico-card h3 {
        font-size: 10px;
    }

    .servico-card span {
        font-size: 10px;
    }

    .contato .contato-fundo {
        padding: 200px 20px 60px 20px;
    }

    .contato .contato-fundo h2 {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .contato-botoes ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .contato .contato-btn {
        width: 200px;
        height: 60px;
    }

    .contato .contato-btn span {
        font-size: 10px;
    }

    section.contato .contato-btn img {
        width: 50px;
        height: 50px;
    }

    .contato-link ul {
        gap: 20px;
    }

    .redes-link {
        padding: 80px 20px 40px 20px;
    }

    .redes-link ul li a {
        width: auto;
        padding: 10px;
    }

    .redes-link ul li a div {
        display: none;
    }


    .footer h2 {
        font-size: 70px;
    }

    .footer-txt p.um {
        font-size: 30px;
    }

    .footer-txt p {
        font-size: 10px;
    }
}




/* Mobile */
@media (max-width: 768px) {

    /* GLOBAL */
    body {
        max-width: 100%;
    }

    h1 {
        font-size: 40px;
        line-height: 1.1;
    }

    h2 {
        font-size: 48px;
    }

    p {
        font-size: 16px;
    }

    /* HEADER */
    div.header {
        gap: 0;
        padding: 25px 20px;
    }

    .header-esq,
    .header-dir {
        width: 50%;
    }

    .logo a {
        font-size: 20px;
    }

    .header-dir .hamburguer span {
        width: 32px;
    }

    .header-dir .hamburguer span:nth-child(2) {
        width: 42px;
    }

    /* MENU MOBILE */
    .nav-menu {
        width: 100%;
        right: -100%;
        padding: 100px 20px 40px;
    }

    .nav-menu h3 {
        font-size: 40px;
        margin: 40px 0;
    }

    /* HERO */
    header {
        height: 100vh;
    }

    header .hero-fundo {
        background-size: cover;
    }

    .txt-hero {
        margin-top: 120px;
        margin-bottom: 30px;
    }

    .hero-content p {
        font-size: 16px;
        letter-spacing: 0.5px;
        padding: 0 20px;
    }

    .hero-content .btn {
        font-size: 16px;
        padding: 14px 18px;
    }

    /* SOBRE */
    .sobre {
        padding: 80px 0 50px;
    }

    .sobre-fundo {
        gap: 80px;
    }

    .sobre p {
        font-size: 18px;
        line-height: 1.5;
    }

    .sobre-cima {
        justify-content: left;
    }

    .sobre-baixo {
        justify-content: right;
    }

    .sobre-txt-cima {
        max-width: 100%;
        text-align: left;
    }

    .sobre-txt-baixo {
        max-width: 100%;
        text-align: right;
    }

    /* PROJETOS */
    .projetos-fundo {
        padding: 80px 20px 120px;
    }

    .projetos-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 6px;
    }

    /* SERVIÇOS / ETAPAS */
    .servicos {
        height: 100vh;
    }

    div.section {
        border: 2px;
        height: 100%;
        padding: 80px 0;
    }

    .content {
        flex-direction: column;
        gap: 40px;
        width: 100%;
        margin-bottom: 0;
    }

    .content ul {
        flex-direction: row;
        gap: 20px;
        font-size: 32px;
        padding-left: 0;
        justify-content: center;
    }

    .content .fill {
        display: none;
    }

    .content .right {
        width: 100%;
        justify-content: center;
        min-height: 300px;
    }

    .right .slide {
        margin-top: 100px;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .right .slide .txt-slide {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .right .slide img {
        max-width: 200px;
    }

    .right .slide h3 {
        font-size: 36px;
        text-align: center;
    }

    .right .slide h3.ponto-especial {
        font-size: 36px;
    }

    .right .slide p {
        font-size: 18px;
        text-align: center;
        margin: 20px 0;
        padding: 0 20px;
    }

    /* CONTATO */
    section.contato,
    .div-pai {
        height: 100vh;
    }

    .contato .contato-fundo {
        padding: 120px 20px 60px;
        height: 100vh;
    }

    .contato .contato-fundo h2 {
        font-size: 48px;
        text-align: center;
    }

    .contato-botoes {
        padding: 60px 0 20px;
    }

    .contato-botoes ul {
        flex-direction: column;
        gap: 15px;
    }

    .redes-link ul {
        gap: 30px;
        flex-wrap: wrap;
    }

    .contato-botoes ul li a {
        flex-wrap: wrap;
    }

}