
/* Mobile */
@media (max-width: 768px) {

    /* GLOBAL */
    body {
        max-width: 100%;
    }

    h1 {
        font-size: 40px;
        line-height: 1.1;
    }

    h2 {
        font-size: 48px;
    }

    p {
        font-size: 16px;
    }

    /* HEADER */
    div.header {
        gap: 0;
        padding: 25px 20px;
    }

    .header-esq,
    .header-dir {
        width: 50%;
    }

    .logo a {
        font-size: 20px;
    }

    .header-dir .hamburguer span {
        width: 32px;
    }

    .header-dir .hamburguer span:nth-child(2) {
        width: 42px;
    }

    /* MENU MOBILE */
    .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        right: -100%;
        padding: 100px 20px 40px;
    }

    .nav-menu h3 {
        font-size: 40px;
        margin: 40px 0;
    }

    /* HERO */
    header {
        height: 100vh;
    }

    header .hero-fundo {
        background-size: cover;
    }

    .txt-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
        margin-bottom: 30px;
    }
    .hero-content{
        padding: 0 5px;
    }
    .hero-content p {
        font-size: 16px;
        letter-spacing: 0.5px;
        padding: 0 20px;
    }

    .hero-content .btn {
        font-size: 16px;
        padding: 14px 18px;
    }

    /* SOBRE */
    .sobre {
        padding: 0px 5px;
    }

    .sobre-fundo {
        gap: 30px;
    }

    .sobre p {
        font-size: 18px;
        line-height: 1.5;
    }

    .sobre-cima {
        justify-content: left;
    }

    .sobre-baixo {
        justify-content: right;
    }

    .sobre-txt-cima {
        max-width: 100%;
        text-align: left;
    }

    .sobre-txt-baixo {
        max-width: 100%;
        text-align: left;
    }

    /* PROJETOS */
    .projetos-fundo {
        padding: 80px 5px 120px;
    }

    .projetos-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 6px;
    }

    /* SERVIÇOS / ETAPAS */
    .servicos {
        height: 100dvh;
        padding: 0 5px;
    }

    div.section {
        border: 2px;
        height: 100%;
        padding: 50px 0;
    }

    .content {
        flex-direction: column;
        gap: 40px;
        width: 100%;
        margin-bottom: 0;
    }

    .content ul {
        flex-direction: row;
        gap: 20px;
        font-size: 32px;
        padding-left: 0;
        justify-content: center;
    }

    .content .fill {
        display: none;
    }

    .content .right {
        width: 100%;
        justify-content: center;
        margin-top: 150px;
    }

    .right .slide {
        margin-top: 80px;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .right .slide .txt-slide {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .right .slide img {
        max-width: 200px;
    }

    .right .slide h3 {
        font-size: 36px;
        text-align: center;
    }

    .right .slide h3.ponto-especial {
        font-size: 36px;
    }

    .right .slide p {
        font-size: 18px;
        text-align: center;
        margin: 20px 0;
        padding: 0 20px;
    }

    /* CONTATO */
    section.contato {
        height: 100vh;
    }

    .div-pai {
        height: 100vh;
    }

    .contato .contato-fundo {
        padding: 120px 20px 60px;
        height: 100%;
    }

    .contato .contato-fundo h2 {
        font-size: 48px;
        text-align: center;
    }

    .contato-botoes {
        padding: 60px 0 20px;
    }

    .contato-botoes ul {
        flex-direction: column;
        gap: 15px;
    }

    .redes-link ul {
        gap: 30px;
        flex-wrap: wrap;
    }

    .contato-botoes ul li a {
        flex-wrap: wrap;
    }

}