* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* aplique nos elementos animados */
.hero-fundo,
.header,
.heroH1,
.heroP,
.hero-btn,
.projeto-card,
.list-child,
.right,
.slide,
.contato {
    will-change: transform, opacity;
}


@font-face {
    font-family: 'clash';
    src: url('assets/fonts/clash-display-font-1768824553-0/ClashDisplay-Medium.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'clashL';
    src: url('assets/fonts/clash-display-font-1768824553-0/ClashDisplay-Light.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'clashR';
    src: url('assets/fonts/clash-display-font-1768824553-0/ClashDisplay-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
}

body {
    font-family: "Zalando Sans Expanded", sans-serif;
    background-color: #0f0f0f;
    overflow-x: hidden;
    max-width: 1920px;
}

.fundo {
    padding: 0 10px;
}

.btn {
    box-shadow: #0f0f0f30 0 1px 2px;
}

/* Typography */


h2 {
    font-size: 90px;
    font-weight: normal;
    font-family: 'clash', sans-serif;
    color: #eee;
}

.fundo {
    display: flex;
    flex-direction: column;
}

/* Header */

div.header {
    background-image: linear-gradient(#00000071, #00000000);
    position: fixed;
    top: 0px;
    padding: 15px;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    z-index: 999;
}

.header-esq {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-dir {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo a {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'clashR', sans-serif;
    font-weight: normal;
}

.header-dir .hamburguer {
    padding: 10px 0 10px 10px;
    justify-items: end;
    transition: all 0.3s ease;
}

.header-dir .hamburguer span {
    border-radius: 1px;
    right: 0;
    margin-top: 5px;
    display: block;
    height: 3px;
    width: 40px;
    background: white;
    transition: 0.3s ease;
}

.header-dir .hamburguer span:nth-child(2) {
    width: 54px;
}

/* Animação do Hamburguer para X */
.header-dir .hamburguer.active span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
    background-color: #1a1a1a;
}

.header-dir .hamburguer.active span:nth-child(2) {
    transform: rotate(-45deg) translateY(-11px);
    background-color: #1a1a1a;
}

/* Menu Slide da Direita */
.nav-menu {
    backdrop-filter: blur(50px);
    position: fixed;
    top: 0;
    right: -100%;
    opacity: 0;
    width: 25%;
    height: 100vh;
    background-color: #e8d9e3e2;
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 40px 40px 40px;
    z-index: 100;
    overflow-y: auto;
}

.nav-menu h3 {
    font-family: "clash";
    font-weight: normal;
    margin: 60px 0;
    color: #1a1a1aeb;
    font-size: 60px;
    text-align: center;
}

.nav-menu h3 a {
    text-decoration: none;
    color: #1a1a1aeb;
}

.nav-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li a {
    color: #0f0f0f;
    transition: 0.2s;
    border-radius: 50px;
}

.nav-menu ul li a img {
    color: #0f0f0f;
}

.menu-btn-second img {
    transform: rotate(-45deg);
}

/* Header / Hero */
header {
    width: 100%;
    height: 100vh;
}

header .hero-fundo {
    background-image: url(assets/img/discotop.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

/* Hero Section Texts */
.hero-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0) 50%, #0f0f0f31 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.txt-hero {
    margin-top: 200px;
    margin-bottom: 50px;
}

h1 {
    font-family: 'clash', sans-serif;
    color: white;
    font-size: 110px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: normal;
}

.hero-content p {
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-size: 20px;
    color: #e8e6e6e8;
    margin-bottom: 18px;
    letter-spacing: 1px;
}

.hero-content li {
    list-style: none;
}

/* Buttons (hero) */
a.btn {
    height: auto;
    width: auto;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: 'Zalando Sans Expanded', sans-serif;
    color: #eeeeee;
    border-radius: 30px;
    background-color: rgba(154, 154, 154, 0.212);
    padding: 15px 20px;
    font-size: 18px;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
}

a.btn:hover {
    transform: translateY(-3px);
    transition: 0.2s;
}

a.btn span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

a.btn img {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

a.btn-port img {
    rotate: -45deg;
}

.hero-content a.btn-port {
    border: 1px solid #AD0485;
    background: rgba(26, 26, 26, 0.34);
    backdrop-filter: blur(23.5px);
}



a.btn-contato img {
    margin-left: 15px;
}

a.btn:hover {
    background-color: rgba(154, 154, 154, 0.312);
    transition: 0.2s;
}

.hero a.btn-port:hover {
    background: rgba(0, 0, 0, 0.255);
}

button.button img {
    width: 30px;
}

/* MAIN */

/* SOBRE */
.sobre {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 150px 0px 100px 0px;
}

.sobre-fundo {
    display: flex;
    flex-direction: column;
    gap: 150px;
    height: auto;
    justify-content: top;
    align-items: start;
}

.sobre p {
    color: #e0e0e0;
    font-size: 38px;
}

.sobre-cima {
    width: 100%;
    display: flex;
    justify-content: left;
}

.sobre-baixo {
    width: 100%;
    display: flex;
    justify-content: right;
}

.sobre-txt-cima {
    word-break: keep-all;
    max-width: 54%;
}

.sobre-txt-baixo {
    max-width: 50%;
    text-align: right;
    word-break: keep-all;
}

/* PORTFOLIO SECTION */
section.projetos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.projetos-fundo {
    background: radial-gradient(circle 50vh at center, #af048795 10%, #0f0f0f 100%);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: start;
    flex-wrap: nowrap;
    padding: 100px 10px 200px 10px;
}

.projetos-titulo {
    width: auto;
}

.projetos-titulo h2 {
    margin-bottom: 50px;
}

.projetos-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projetos-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3px;
}

.projeto-card {
    width: 100%;
    overflow: hidden;
    border-radius: 1px;
}

.projeto-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* ETAPAS */
.servicos {
    height: 100vh;
}

.servicos-fundo {
    margin: 0;
    padding: 0;
}

div.servicos-titulo {
    margin: 0;
    padding: 0;
}

div.section {
    margin: auto;
    padding: 0;
    width: 98%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    gap: 200px;
    width: 90%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
}

.content ul {
    font-family: 'clashL', sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 60px;
    color: #eee;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    list-style: none;
    flex-grow: 0;
}


.content .fill {
    position: absolute;
    top: 0;
    left: 0px;
    width: 4px;
    height: 100%;
    border-radius: 2px;
    background: linear-gradient(#fff 50%, #DF3FBE, #6E0754);
}

.content .right {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    position: relative;
    padding: 0;
    margin: 0;
}

.right .slide {
    gap: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: auto;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    opacity: 0;
    visibility: hidden;
}

.right .slide>img {
    object-fit: cover;
    width: 30%;
}

.right .slide .txt-slide {
    align-self: flex-start;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.right .slide h3,
.right .slide p {
    text-align: center;
    text-align: left;
}

.right .slide h3 {
    font-family: 'clashR', sans-serif;
    font-weight: normal;
    font-size: 60px;
    color: #eee;
}

.right .slide p {
    margin: 30px 0;
    color: #c5c5c5;
    font-size: 24px;
}

.right .slide h3.ponto-especial {
    font-size: 58px;
}

.right .slide h3.ponto-especial span {
    color: #c20c97;
}



.right .slide .txt-slide a {
    border: 1px solid #AD0485;
    background: rgba(26, 26, 26, 0.34);
    backdrop-filter: blur(23.5px);
    transition: 0.3s;
}

.right .slide .txt-slide a img {
    transform: rotate(-45deg);
}



/* FOOTER / CONTATO */
.div-pai {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

section.contato {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
}

.contato .contato-fundo {
    background-image: url(assets/img/discobot.webp);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 00px 0px;
    position: relative;
}

.contato .contato-fundo h2 {
    font-family: 'clash', sans-serif;
    font-size: 90px;
    font-weight: normal;
    color: #f9f9f9;
    margin-bottom: 20px;
    z-index: 2;
}

.contato-botoes {
    padding: 100px 0 40px 0;
    z-index: 2;
}

.contato-botoes ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contato-botoes ul li {
    list-style: none;
}

.contato-botoes ul li a {
    transition: 0.2s;
}

.redes-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 40px 20px;
    position: relative;
    z-index: 2;
}

.redes-link ul {
    gap: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.redes-link ul li a {
    padding: 10px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(154, 154, 154, 0.212);
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.redes-link ul li a svg {
    width: 30px;
    height: 30px;
}

.redes-link ul li a:hover {
    transform: translateY(-3px);

}

a.contato-btn {
    width: auto;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}


.contato-botoes ul li a.contato-first {
    border: 1px solid #AD0485;
    background: rgba(26, 26, 26, 0.34);
    backdrop-filter: blur(23.5px);

}

.contato-botoes ul li a.contato-first img {
    transform: rotate(-45deg);
}

.contato a.contato-first:hover {
    background: rgba(0, 0, 0, 0.255);
}