* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'clash';
    src: url('assets/fonts/clash-display-font-1768824553-0/ClashDisplay-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'clashL';
    src: url('assets/fonts/clash-display-font-1768824553-0/ClashDisplay-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'clashR';
    src: url('assets/fonts/clash-display-font-1768824553-0/ClashDisplay-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
}

body {
    font-family: "Zalando Sans Expanded", sans-serif;
    background-color: #07090E;
    overflow-x: hidden;
    max-width: 1920px;
}

.seta {
    width: 80px;
}

.fundo {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

/* Typography */
h2 {
    font-size: 90px;
    font-weight: normal;
    font-family: 'clash', sans-serif;
    color: #eee;
}

.btn {
    box-shadow: #0f0f0f30 0 1px 2px;
}

/* Header / Hero */
header {
    width: 100%;
    height: 100vh;
}

header .hero-fundo {
    background-image: url('assets/img/discotop6.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

/* estado inicial */
.header {
    opacity: 0.5;
}

.heroH1 {
    opacity: 0;
    transform: translateY(-80px) scale(8);
}

.heroP,
.hero-btn {
    opacity: 0;
    transform: translateY(10px);
}

.hero-fundo {
    opacity: 0.5;
}

div.header {
    background-image: linear-gradient(#07090e72, #00000000);
    position: fixed;
    top: 0px;
    padding: 15px;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    z-index: 999;
}

.header-esq {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-dir {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo a {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'clashR', sans-serif;
    font-weight: normal;
    transition: 0.3s ease;
}

.header-dir .hamburguer {
    padding: 10px 0 10px 10px;
    justify-items: end;
    transition: all 0.3s ease;
}

.header-dir .hamburguer span {
    border-radius: 1px;
    right: 0;
    margin-top: 5px;
    display: block;
    height: 3px;
    width: 40px;
    background: white;
    transition: 0.3s ease;
}

.header-dir .hamburguer span:nth-child(2) {
    width: 54px;
}

/* Animação do Hamburguer para X */
.header-dir .hamburguer.active span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
    background-color: #1a1a1a;
}

.header-dir .hamburguer.active span:nth-child(2) {
    transform: rotate(-45deg) translateY(-11px);
    background-color: #1a1a1a;
}

.logo a.active {
    color: #1a1a1a;
}

/* Hero Section Texts */
.hero-content {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0) 50%, #07090E31 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.txt-hero {
    margin-top: 200px;
    margin-bottom: 50px;
}

h1 {
    font-family: 'clash', sans-serif;
    color: white;
    font-size: 110px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: normal;
}

.hero-content p {
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-size: 20px;
    color: #e8e6e6e8;
    margin-bottom: 18px;
    letter-spacing: 1px;
}

.hero-content li {
    list-style: none;
}

/* Buttons (hero) */
a.btn {
    height: auto;
    width: auto;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: 'Zalando Sans Expanded', sans-serif;
    color: #eeeeee;
    border-radius: 30px;
    background-color: rgba(154, 154, 154, 0.212);
    padding: 15px 20px;
    font-size: 18px;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
}

a.btn:hover {
    background-color: rgba(154, 154, 154, 0.312);
    transition: 0.2s;
}

a.btn span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

a.btn img {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

a.btn-port img {
    rotate: -45deg;
}

.hero-content a.btn-port {
    border: 1px solid #AD0485;
    background: rgba(26, 26, 26, 0.34);
    backdrop-filter: blur(23.5px);
}

a.btn-contato img {
    margin-left: 15px;
}

.hero a.btn-port:hover {
    background: rgba(0, 0, 0, 0.255);
}

button.button img {
    width: 30px;
}

/* Menu Slide da Direita */
.nav-menu {
    backdrop-filter: blur(50px);
    position: fixed;
    top: 0;
    right: -100%;
    opacity: 0;
    width: 25%;
    height: 100dvh;
    background-color: #fbd9efe2;
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 40px 40px 40px;
    z-index: 100;
    overflow-y: auto;
}

.nav-menu h3 {
    font-family: "clash";
    font-weight: normal;
    margin: 60px 0;
    color: #1a1a1aeb;
    font-size: 60px;
    text-align: center;
}

.nav-menu h3 a {
    text-decoration: none;
    color: #1a1a1aeb;
}

.nav-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li a {
    background-color: #f9e6f2e2;
    color: #0f0f0f;
    transition: 0.2s;
    border-radius: 50px;
}

.nav-menu ul li a:hover {
    background-color: #fbf1f7e2;
}

.nav-menu ul li a img {
    color: #0f0f0f;
}

.menu-btn-second img {
    transform: rotate(-45deg);
}

/* MAIN */

/* SOBRE */
.sobre {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 120px 10px 100px 10px;
}

.sobre-fundo {
    background: url('assets/img/background2.webp');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 150px;
    height: auto;
    justify-content: top;
    align-items: start;
}

.sobre p {
    color: #e0e0e0;
    font-size: 38px;
}

.sobre-cima {
    width: 100%;
    display: flex;
    justify-content: left;
}

.sobre-baixo {
    width: 100%;
    display: flex;
    justify-content: right;
}

.sobre-txt-cima {
    word-break: keep-all;
    max-width: 54%;
}

.sobre-txt-cima img {
    width: 50px;
}

.sobre-txt-baixo {
    max-width: 50%;
    text-align: right;
    word-break: keep-all;
}

/* PORTFOLIO SECTION */
section.projetos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.projetos-fundo {
    background: url('assets/img/background1.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: start;
    flex-wrap: nowrap;
    padding: 100px 10px 200px 10px;
}

.projetos-titulo {
    width: auto;
}

.projetos-titulo h2 {
    margin: 50px 0;
}

.projetos-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projetos-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3px;
}

.projeto-card {
    width: 100%;
    overflow: hidden;
    border-radius: 1px;
}

.projeto-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* ETAPAS */
.servicos {
    height: 100vh;
    padding: 0 10px;
}

.servicos-fundo {
    background: url('assets/img/background3.webp');
    margin: 0;
    padding: 0;
}

div.servicos-titulo {
    margin: 50px 0;
    padding: 0;
}

div.pin-section {

    margin: auto;
    padding: 0;
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    gap: 200px;
    width: 90%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
}

.content ul {
    font-family: 'clashL', sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 60px;
    color: #eee;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    list-style: none;
    flex-grow: 0;
}


.content .fill {
    position: absolute;
    top: 0;
    left: 0px;
    width: 4px;
    height: 100%;
    border-radius: 2px;
    background: linear-gradient(#fff 50%, #E602BC, #6E0754);
}

.content .right {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    position: relative;
    padding: 0;
    margin: 0;
}

.right .slide {
    gap: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: auto;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    opacity: 0;
    visibility: hidden;
}

.right .slide>img {
    object-fit: cover;
    width: 30%;
}

.right .slide .txt-slide {
    align-self: flex-start;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.right .slide h3,
.right .slide p {
    text-align: center;
    text-align: left;
}

.right .slide h3 {
    font-family: 'clashR', sans-serif;
    font-weight: normal;
    font-size: 60px;
    color: #eee;
}

.right .slide p {
    margin: 30px 0;
    color: #c5c5c5;
    font-size: 24px;
}

.right .slide h3.ponto-especial {
    font-size: 58px;
}

.right .slide h3.ponto-especial span {
    color: #c20c97;
}



.right .slide .txt-slide a {
    border: 1px solid #AD0485;
    background: rgba(26, 26, 26, 0.34);
    backdrop-filter: blur(23.5px);
    transition: 0.3s;
}

.right .slide .txt-slide a img {
    transform: rotate(-45deg);
}



/* FOOTER / CONTATO */
.div-pai {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

section.contato {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
}

.contato .contato-fundo {
    background-image: url('assets/img/discobot6.webp');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 00px 0px;
    position: relative;
}

.contato .contato-fundo h2 {
    font-family: 'clash', sans-serif;
    font-size: 90px;
    font-weight: normal;
    color: #f9f9f9;
    margin-bottom: 20px;
    z-index: 2;
}

.contato-botoes {
    padding: 100px 0 40px 0;
    z-index: 2;
}

.contato-botoes ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contato-botoes ul li {
    list-style: none;
}

.contato-botoes ul li a {
    transition: 0.2s;
}

.redes-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 40px 20px;
    position: relative;
    z-index: 2;
}

.redes-link ul {
    gap: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.redes-link ul li a {
    padding: 10px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(154, 154, 154, 0.212);
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.redes-link ul li a svg,
.redes-link ul li a img {
    width: 30px;
    height: 30px;
}

.redes-link ul li a:hover {
    transform: translateY(-3px);
}


a.contato-btn {

    background-color: rgba(154, 154, 154, 0.212);
    backdrop-filter: blur(10px);


    width: auto;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}


.contato-botoes ul li a.contato-first {
    border: 1px solid #AD0485;
    background: rgba(26, 26, 26, 0.34);
    backdrop-filter: blur(23.5px);

}

.contato-botoes ul li a.contato-first img {
    transform: rotate(-45deg);
}

.contato a.contato-first:hover {
    background: rgba(0, 0, 0, 0.255);
}


/* Mobile */
@media (max-width: 768px) {

    /* GLOBAL */
    body {
        max-width: 100%;
    }

    h1 {
        font-size: 40px;
        line-height: 1.1;
    }

    .heroH1 {
        opacity: 0;
        transform: translateY(-40px) scale(2);
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 16px;
    }

    .seta {
        width: 30px;
    }

    /* HEADER */
    header{
        border: 2px solid green;
    }

    .hero-fundo{
        border: 1px solid yellow;
    }

    div.header {
        border: 1px blue solid;
        max-width: 100%;
        gap: 0;
        padding: 20px 10px;
    }

    .header-esq,
    .header-dir {
        border: 2px red solid;
        width: 50%;
    }

    .logo a {
        font-size: 20px;
    }

    .header-dir .hamburguer span {
        width: 32px;
    }

    .header-dir .hamburguer span:nth-child(2) {
        width: 42px;
    }

    /* MENU MOBILE */
    .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        right: -100%;
        padding: 100px 20px 40px;
    }

    .nav-menu h3 {
        font-size: 40px;
        margin: 40px 0;
    }

    /* HERO */
    header {
        height: 100vh;
    }

    header .hero-fundo {
        background-size: cover;
        background-image: url('assets/img/discotopmob2.webp');
    }

    .txt-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
        margin-bottom: 30px;
    }

    .hero-content {
        padding: 0 5px;
    }

    .hero-content p {
        font-size: 16px;
        letter-spacing: 0.5px;
        padding: 0 20px;
    }

    .hero-content .btn {
        font-size: 16px;
        padding: 14px 18px;
    }



    /* SOBRE */
    .sobre {
        padding: 0px 5px;
    }

    .sobre .seta {
        width: 30px;
    }

    .sobre-fundo {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        gap: 30px;
    }

    .sobre p {
        font-size: 18px;
        line-height: 1.5;
    }

    .sobre-cima {
        justify-content: left;
    }

    .sobre-baixo {
        justify-content: right;
    }

    .sobre-txt-cima {
        max-width: 100%;
        text-align: left;
    }

    .sobre-txt-baixo {
        max-width: 100%;
        text-align: left;
    }

    /* PROJETOS */
    .projetos-fundo {
        background: none;
        padding: 80px 5px 120px;
    }

    .projetos-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 6px;
    }

    /* SERVIÇOS / ETAPAS */

    .servicos {
        height: 100dvh;
        padding: 0 5px;
    }

    .servicos-fundo {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    div.servicos-titulo {
        margin: 50px 0 10px;
        padding: 0;
    }


    div.pin-section {
        border: 2px;
        height: 100%;
        padding: 30px 0;
    }

    .content {
        flex-direction: column;
        gap: 40px;
        width: 100%;
        margin-bottom: 0;
    }

    .content ul {
        flex-direction: row;
        gap: 20px;
        font-size: 32px;
        padding-left: 0;
        justify-content: center;
    }

    .content .fill {
        display: none;
    }

    .content .right {
        width: 100%;
        justify-content: center;
        margin-top: 150px;
    }

    .right .slide {
        margin-top: 80px;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .right .slide .txt-slide {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .right .slide img {
        max-width: 200px;
    }

    .right .slide h3 {
        font-size: 36px;
        text-align: center;
    }

    .right .slide h3.ponto-especial {
        font-size: 36px;
    }

    .right .slide p {
        font-size: 16px;
        text-align: center;
        margin: 20px 0;
        padding: 0 20px;
    }

    /* CONTATO */
    section.contato {
        height: 100vh;
    }

    .div-pai {
        height: 100vh;
    }

    .contato .contato-fundo {
        background-image: url('assets/img/discotopmob2.webp');
        padding: 120px 20px 16px;
        height: 100%;
    }

    .contato .contato-fundo h2 {
        font-size: 48px;
        text-align: center;
    }

    .contato-botoes {
        padding: 60px 0 20px;
    }

    .contato-botoes ul {
        flex-direction: column;
        gap: 15px;
    }

    .redes-link ul {
        gap: 30px;
        flex-wrap: wrap;
    }

    .contato-botoes ul li a {
        flex-wrap: wrap;
    }


}