* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

.circle {
    height:14px;
    width: 14px;
    border-radius: 24px;
    background: radial-gradient( #555555 60%, #ffffff 50%) ;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
    /* so that it stays on top of all other elements */
}

@font-face {
    font-family: 'clash';
    src: url('assets/fonts/clash-display-font-1768824553-0/ClashDisplay-Semibold.otf') format('woff2'),
        url('assets/fonts/clash-display-font-1768824553-0/ClashDisplay-Semibold.otf') format('woff'),
        url('assets/fonts/clash-display-font-1768824553-0/ClashDisplay-Semibold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.demo {
    color: #f9f9f9;
    font-size: 14px;
}

.burger {
    display: none;
}

html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.btn:hover {
    transform: scale(1.05);
    background: rgb(135, 135, 135);
    transition: 0.2s;
}

ul li {
    list-style: none;
}

section {
    width: 100%;
    height: 150vh;
}

body {
    padding-right: 3px;
    padding-left: 1px;
    font-family: "Zalando Sans Expanded", sans-serif;
    background-color: #161616;
    overflow-x: hidden;
    max-width: 1920px;
}

h1 {
    font-family: 'clash', sans-serif;
    background: linear-gradient(to bottom,#ffffff 15%, #b3b0b3 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size:80px;
    font-family: 'clash', sans-serif;
    background: linear-gradient(to right, #b3b0b3 0%, #ffffff 50% , #c3c0c3 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 span {
    color: #EEEEEE;
}


.fundo {
    display: flex;
    flex-direction: column;
}


.navbar-mobile {
    display: none;
}

/* Ícone Hamburguer */
.hamburguer {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 9999;
}

.hamburguer span {
    width: 40px;
    height: 5px;
    background: white;
    border-radius: 5px;
}

/* Menu Mobile */
.menu-mobile {
    border-radius: 30px;
    border: #AF0488 4px solid;
    position: fixed;
    top: 0;
    right: -150%;
    width: 100%;
    height: 98vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 30px;
    transition: right 0.4s ease;
    z-index: 1000;
}

.menu-mobile svg {
    height: 60px;
    width: 60px;
    margin: 20px;
}

.menu-mobile ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'clash', sans-serif;
    flex-direction: column;
    gap: 55px;
}

.menu-mobile ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu-mobile .fechar {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: -1;
}

/* Mostrar menu aberto */
.menu-mobile.abrir {
    right: 0;
}

.overlay.ativo {
    display: block;
}



/* Header */



header {
    width: 100%;
    height: 100vh;
}


header .hero-fundo {
    background-image: url(assets/img/discotop.webp);
    background-size: 110% 110%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

/* MENU DESKTOP */
menu.menu {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 1000;
}

.menu .navbar {
    background: rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(23.5px);
    border-radius: 40px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px;
}

.menu .navbar .nav ul {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15vw;
}

.menu a {
    text-decoration: none;
}

.menu .navbar .logo h2 {
    color: white;
}

.menu .navbar .nav ul li a {
    color: #eee;
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
}

.menu .navbar .nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eee;
    transition: 0.2s ease-out;
    transform-origin: bottom center;

}

.menu .navbar .nav ul li a:hover {
    transform: scale(1.05);
}

.menu .navbar .nav ul li a:hover::after {
    transform: scaleX(1);
}

.menu .navbar .ver-projetos-btn img {
    transform: rotate(-45deg);
}





/* Hero Section Texts */
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-family: 'clash', sans-serif;
    font-size: 130px;
    letter-spacing: 0.1em;
    margin-bottom: 100px;
}

.hero-content p {
    font-family: 'Zalando Sans Expanded', Arial, sans-serif;
    font-size: 24px;
    color: #e8e6e6e8;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.hero-content a {
    text-decoration: none;
}

.hero-content li {
    list-style: none;
}

/*MAIN*/

/*SOBRE*/

.sobre {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 150px 0px 100px 0px;
}

.sobre-fundo {
    display: flex;
    flex-direction: column;
    gap: 150px;
    height: auto;
    justify-content: top;
    align-items: start;
}

.sobre p {
    color: #eee;
    font-size: 32px;
}

.sobre-cima {
    width: 100%;
    display: flex;
    justify-content: left;
}

.sobre-baixo {
    width: 100%;
    display: flex;
    justify-content: right;
}

.sobre-txt-cima {
    width: 50%;
}

.sobre-txt-baixo {
    text-align: right;
    width: 47%;
}

/*PORTIFOLIO SECTION*/

section.projetos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.projetos-fundo {
    background: radial-gradient(circle 400px at center, #af048795 10%, #161616 100%);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: start;
    flex-wrap: nowrap;
    padding: 100px 0px 100px 0px;
}

.projetos-titulo {
    width: auto;
}

.projetos-titulo h2 {
    white-space: nowrap;
}

.projetos-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projetos-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3px;
}

.projeto-card {
    width: 100%;
    overflow: hidden;
    border-radius: 1px;
}

.projeto-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


/*ETAPAS*/



/*FOOTER*/

section.contato {
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.contato .contato-fundo {
    background-image: url(assets/img/discobot.webp);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 200px 0px;
    position: relative;
}

.contato-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    z-index: 1;
}

.contato .contato-fundo h2 {
    font-family: 'clash', sans-serif;
    color: #f9f9f9;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.contato-botoes {
    padding: 100px 0 40px 0;
    position: relative;
    z-index: 2;
}

.contato-botoes ul {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.contato-botoes ul li {
    list-style: none;
}

.contato .contato-btn {
    padding: 20px;
    width: auto;
    height: 60px;
    text-decoration: none;
    display: flex;
    border-radius: 70px;
    border: 1px solid #AD0485;
    background: rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(23.5px);
    justify-content: center;
    align-items: center;
}

.contato-botoes .contato-btn:hover {
    transform: scale(1.05);
    background: rgb(135, 135, 135);
    transition: 0.2s;
}

.contato .contato-btn span {
    text-align: center;
    text-decoration: none;
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #eee;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 4px;
}

section.contato .contato-btn img {
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    width: 60px;
    height: 60px;
}

.contato-link ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.contato-link ul li {
    width: 300px;
}

.contato-link ul li a {
    text-decoration: none;
}


.contatos-btn {
    color: #e8e6e6e8;
    ;
}

.contatos-btn:hover {
    transform: scale(1.05);
    transition: 0.2s;
    color: rgb(135, 135, 135);
}



.contatos-btn img,
svg {
    height: 20px;
    width: 20px;
}

.redes-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 40px 20px;
    position: relative;
    z-index: 2;
}

.redes-link ul {
    gap: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.redes-link ul li a {
    padding: 10px;

    display: flex;
    border-radius: 50%;
    border: 1px solid #AD0485;
    background: rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(23.5px);
    justify-content: center;
    align-items: center;
}

.redes-link ul li a svg {
    width: 30px;
    height: 30px;
}

.redes-link ul li a:hover {
    transform: scale(1.05);
    transition: 0.2s;
}


footer{
    background: #161616;
}

footer .footer-container {
    width: 100%;
    height: auto;
    background: #161616;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 80px 0px;

}

footer .footer-container h3 {
    font-size: 150px;
    color: #121212;
    font-size: 200px;
}

.footer-txt p {
    color: #000000;
    font-size: 12px;
}

.footer-txt p.um {
    font-size: 50px;
    margin-bottom: 20px;
}

